.iconWrapper {
  position: absolute;
}

.daiIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  top: -36px;
  @media (max-width: 600px) {
    height: 100px !important;
    width: 165px !important;
  }
}

.titleWrapper {
  background-color: #000;
  border-radius: 2em;
  color: #fff;
  top: 0;
  left: 0 !important;
  padding: 0 !important;

  font-size: 13px;
  @media (max-width: 900px) {
    font-size: 12px;
  }
  @media (max-width: 600px) {
    font-size: 10px;
  }
}
.categoryDisplay {
  width: 100%;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  line-height: 40px;
  @media (max-width: 600px) {
    padding-top: 9px !important;
    font-size: 9px !important;
  }
}
.blogTitle {
  font-size: 32px;
  max-lines: 2;
  color: black;
  font-weight: normal;
  font-family: inter;
  @media (max-width: 600px) {
    font-size: 12px !important;
    width: 210px !important;
  }
}
.blogDescription {
  font-size: 20px;
  max-lines: 2;
  color: black;
  font-weight: normal;
  font-family: inter;
  margin-top: 0px;
  margin-bottom: 10px;
  @media (max-width: 600px) {
    font-size: 12px !important;
    width: 210px !important;
  }
}
.emaildiv {
  @media (max-width: 600px) {
    margin-left: 10px !important;
  }
}

.TwitterLogo {
  @media (min-width: 900px) {
    width: 50px !important;
  }
}
.twitterLogoDiv {
  color: grey;
}
body[class="darkTheme"] {
  .blogTitle {
    color: white;
  }
  .blogDescription {
    color: white;
  }
}
