.offersHead {
  font-size: 0.875rem !important;
  color: #8991a2 !important;
  padding-bottom: 0 !important;
}

.offerContainer {
  margin-top: 1em;
  padding: 4em 0;
  padding-top: 0em;
}
.row {
    padding-left: 50px !important;
    td:first-child {
        padding-left: 1rem !important;
    }
    td:last-child {
        float: right;
        div {
            div {
                span {width:150px;text-align:center;}
            }
        }
    } 
}
.rowh {
    padding-left: 50px !important;
    th:first-child {
        padding-left: 1rem !important;
    }
    th:last-child {
        float: right;
        div {
            div {
                span {width:150px;text-align:center;}
            }
        }
    } 
}
.offerElem {
    font-size:1rem !important;
    padding:0 !important;
    display: flex;
    font-size: 1rem;
    align-items: middle;
    margin-right: 20px;
}