.profileImageContainer {
  border-radius: 50%;
  border: 7px solid white;
  height: 225px;
  width: 225px;
}

.iconWrapper {
  border-radius: 50%;
  border: 5px solid white;
}
.left,
.right {
  @media (max-width: 1188px) {
    width: 100%;
    justify-content: center !important;
    margin-bottom: 10px;
  }
  @media (max-width: 640px) {
    font-size: 12px;
  }
}
.right {
  @media (max-width: 1188px) {
    margin-left: 70px;
  }
  @media (max-width: 520px) {
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .profileImageContainer {
    height: 225px;
    width: 225px;
  }
}
@media (max-width: 360px) {
}
