.assetBox {
    width:calc(33.33% - 2em);
    margin:1em;
    @media (max-width:1200px) {
        width:calc(50% - 2em)
    }

    

    & > a {
        display:block;
    }
    a > div {
        width:100% !important;
        height:auto !important;
        padding-top:100%;
        position:relative;
        &:before {
            
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:60%;
            background-image:linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
            content: '';
            z-index:20;
        }
        img {
            width:100%;
            max-width:100%;
            display:block;
            position:absolute;
            top:0;
            left:0;
            z-index:10;
        }
        
    }

    .loanHeading {
        font-size:12px;
        displaY:block !important;
        width:100%;
    }
    .assetPrice {
        font-weight:400;
        font-size:20px;
        @media(max-width:1480px) {
            font-size:18px;
        }
        @media (max-width:600px) {
            font-size:17px;
        }

    }
    .interestElem {
        text-align:right;
    }
    .assetPriceStable {
        font-weight:400;
        font-size:20px;
        @media(max-width:1480px) {
            font-size:18px;
            img {
                height:18px;
                width:18px;
            }
        }
        @media (max-width:600px) {
            font-size:17px;
        }
    }
    .assetPriceStableFiat {
        font-size:12px;
        @media(max-width:900px) {
            font-size:10px;
        }
        @media (max-width:600px) {
            font-size:10px;
        }
        @media (max-width:480px) {
            display:none !important;
        }

    }
    .assetSpecs {

    position:relative;
    margin-top:-80px;
    z-index:100;
    padding:0 30px;
    .termHeading {
        font-size:12px;
        @media(max-width:900px) {
            font-size:11px;
        }
        @media (max-width:600px) {
            font-size:10px;
        }

    }
    .termValue {
        font-weight:400;
        font-size:16px;
        color:#fff;
        @media(max-width:900px) {
            font-size:13px;
        }
        @media (max-width:600px) {
            font-size:12px;
        }
    }
}
    .moreButton {
        color:#000;
        background:rgba(0,0,0,0.4);
        @media (max-width:480px) {
            margin-right:-10px !important;
            svg {
                width:20px;
                height:20px;
        }}
    }
}
body[class*=darkTheme] {
    .moreButton {
        color:#fff;
        background:#000;
    }
}