.assetBox {
    width:calc(33.33% - 2em);
    margin:1em;
    @media (max-width:1200px) {
        width:calc(50% - 2em)
    }

    

    & > .assetImage {
        display:block;
    }
    .assetImage > div {
        width:100% !important;
        height:auto !important;
        padding-top:100%;
        position:relative;
        img {
            width:100%;
            max-width:100%;
            display:block;
            position:absolute;
            top:0;
            left:0;
        }
    }
    
    .moreButton {
        color:#000;
        background:rgba(0,0,0,0.4);
        @media (max-width:480px) {
            margin-right:-10px !important;
            svg {
                width:20px;
                height:20px;
        }}
    }
}

.collectionName {
        font-weight: 400;
        font-size:0.875em;
        position:relative;
        top:-54px;
        background:#fff;
        border-radius:2em;
        padding:1em;
        width:80%;
        align-self:center;
        text-align:center;
        opacity:0.9;
}


body[class*=darkTheme] {
    .moreButton {
        color:#fff;
        background:#000;
    }
    .collectionName {
        background:#000;
        color:#fff;
    }

}