h1 {
  font-weight:500;
}
.imgContainer {
  border-radius: 30px;
  overflow: hidden;
  margin-left: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
  }
  video {
    height: 100%;
    width: 100%;
  }
}

.assetRow {
  margin-top:50px;
}
.moreButton {
  color: #000 !important;
  background: #fff !important;
  box-shadow: 0 15px 30px #7e9aa92b;
  @media (max-width: 480px) {
    margin-right: -10px !important;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

body[class*=darkTheme] {
  .moreButton {
    color: #fff !important;
    background: #000 !important;
  }
}
